<div class="container"><br>
    <h1>Extras</h1>
	<hr>
	<mat-card>
		<mat-card-header fxLayout="row">
			<mat-card-title><h4>Website Settings</h4></mat-card-title>
				<div fxFlex></div>
				<button mat-button (confirm)="clearCookies()" color="warn" [swal]="['Clear Cookies?', 'Website settings will be set to default values.', 'warning']"><span> Clear Cookies</span></button>
			</mat-card-header>
		<mat-card-content>
			<section>
			<mat-slide-toggle [checked]="isCheckedHeader()" (change)="headerToggle($event)">Fixed Navigation</mat-slide-toggle><br>
			</section>
			
			<section>
			<mat-slide-toggle [checked]="isCheckedFooter()" (change)="footerToggle($event)">Fixed Footer</mat-slide-toggle><br>
			</section>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-content>
			<h4>Website Color</h4>
		
			<section>
				<input [(colorPicker)]="color" 
					[cpPosition]="'bottom'" 
					[style.background]="color"
					[cpDisableInput] ="true"
					(colorPickerChange)="onChangeColor()"
					[cpPresetColors]="['#3f51b5', '#000', '#2889e9', '#801793', '#0a801a', '#c61d1d']"
					[cpCancelButton]="true"
					[cpOKButton]="true"
					[cpOKButtonClass]= "'btn btn-success'"
					[cpCancelButtonClass]= "'btn btn-danger'"
					readonly="true"/><br>
				<p>
					<button mat-raised-button color="primary" (click)="restoreDefault()"><span> Restore Default</span></button>
				</p>
			</section>
		</mat-card-content>
	</mat-card>
	<br>
	<br>
</div>