<div class="container"><br>
    <h1>Links</h1>
	<hr>
	<mat-card>
	<h2>Code Snippets</h2>
	<br> <! -- TO DO - use the component to store a list of these objects and display via loop -->
	<div id="accordion" role="tablist" aria-multiselectable="true">
		<div class="card">
			<div class="card-header" role="tab" id="headingOne">
			<h5 class="mb-0">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				Java
				</a>
			</h5>
			</div>
		
			<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
				<div class="list-group">
					<a href="assets/code/Calander.java" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Calender</h5>
						<small>#1</small>
						</div>
						<p class="mb-1">A calender that stores events for September and October.</p>
						<small>First year assignment</small>
					</a>
					<a href="assets/code/Lottery.java" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Lottery</h5>
						<small class="text-muted">#2</small>
						</div>
						<p class="mb-1">A lottery example, it generates 5 random number and compares them to the numbers that are input.</p>
						<small class="text-muted">First year assignment.</small>
					</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" role="tab" id="headingTwo">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				C
				</a>
			</h5>
			</div>
			<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="list-group">
					<a href="assets/code/Fibanacci.c" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Fibanacci</h5>
						<small>#1</small>
						</div>
						<p class="mb-1">Several methods that generate fibanacci numbers, using different techniques to demonstrate performance.</p>
						<small>Second year assignment</small>
					</a>
					<a href="assets/code/Strings.c" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Strings</h5>
						<small class="text-muted">#2</small>
						</div>
						<p class="mb-1">C does not have String-like functionality, this code implements that functionality.</p>
						<small class="text-muted">Second year assignment.</small>
					</a>
					<a href="assets/code/TablesExample.c" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Tables</h5>
						<small class="text-muted">#3</small>
						</div>
						<p class="mb-1">This implements a Table-like data structure in C.</p>
						<small class="text-muted">Second year assignment.</small>
					</a>
					<a href="assets/code/Matrix.c" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Matrix Multiplier</h5>
						<small class="text-muted">#4</small>
						</div>
						<p class="mb-1">This is a multi-threaded Matrix multiplier in C, using POSIX pthreads.</p>
						<small class="text-muted">Third year assignment.</small>
					</a>
					<a href="assets/code/HashBreaker.c" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Hash Breaker</h5>
						<small class="text-muted">#5</small>
						</div>
						<p class="mb-1">This is a multi-threaded hash breaker, which uses a thread pool to assign a worker thread a hash to crack.</p>
						<small class="text-muted">Third year assignment.</small>
					</a>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" role="tab" id="headingThree">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Ruby
				</a>
			</h5>
			</div>
			<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="list-group">
					<a href="assets/code/AbstractList.rb" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Abstract List</h5>
						<small>#1</small>
						</div>
						<p class="mb-1">This is a abstract list implementation in Ruby, items in the list are generic.</p>
						<small>Second year assignment</small>
					</a>
					<a href="assets/code/Calculator.rb" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Calculator</h5>
						<small class="text-muted">#2</small>
						</div>
						<p class="mb-1">This implements a calculator by converting input into postfix form and evaluating it based on operator priority.</p>
						<small class="text-muted">Second year assignment.</small>
					</a>
					
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header" role="tab" id="headingFour">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				LC-3
				</a>
			</h5>
			</div>
			<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="list-group">
					<a href="assets/code/KSRexample.asm" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Keyboard Status</h5>
						<small>#1</small>
						</div>
						<p class="mb-1">This is an example that uses polling to check the keyboard status register (KSR) if any input was made.</p>
						<small>Second year assignment</small>
					</a>
					<a href="assets/code/PrintingNumbers.asm" class="list-group-item list-group-item-action flex-column align-items-start">
						<div class="d-flex w-100 justify-content-between">
						<h5 class="mb-1">Printing Number</h5>
						<small class="text-muted">#2</small>
						</div>
						<p class="mb-1">This is an implementation of a printing routine in assembly, it relies on the modulo and divide routines.</p>
						<small class="text-muted">Second year assignment.</small>
					</a>
				</div>
			</div>
		</div>
	</div>
	</mat-card>
	<mat-card>
	<h2>Software</h2>
		<ul>
			<li>
				<p><strong><a href="http://www.faststone.org/FSResizerDetail.htm">FastStone Photo Resizer</a></strong><br />
					A tool for mass photo resizing, renaming and cropping, great for creating thumbnails.</p>
			</li>
			<li>
				<p><strong><a href="https://github.com/skylot/jadx">JADX</a></strong><br />
					A well-maintained Java decompiler.</p>
			</li>
		</ul>
	</mat-card>
	<mat-card>
	<h2>Radio</h2>
		<ul>
			<li>
				<p><strong><a href="https://www.repeaterbook.com/">RepeaterBook</a></strong><br />
					One of the most up-to-date databases for amateur radio repeater information.</p>
			</li>
			<li>
				<p><strong><a href="http://www.ac6v.com/Qsignals.htm">AC6V's Guide To Ham Q-Signals</a></strong><br />
					Cheatsheet for commonly used Q-Codes.</p>
			</li>
			<li>
				<p><strong><a href="https://www.swpc.noaa.gov/communities/radio-communications">Space Weather Prediction Center</a></strong><br />
					Real-time space weather prediction from NASA.</p>
			</li>
		</ul>
	</mat-card>
</div>