// main.scss 
// @import "variables";
// @import "global";

.white-icon {
    color: white;
	padding-top: 6px;
}

.white-text {
    color: white;
}

a.white { 
   color: white;
}

a.white:hover { 
   color: white;
}

*:focus {
    outline: none !important;
    border: 0 !important;
}