// main.scss 
// @import "variables";
// @import "global";

html, body {
  height: 100%;
  margin: 0;
}

.site {
  min-height: 100%;
}

.white-icon {
    color: white;
	padding-top: 6px;
}

.white-text {
    color: white;
}

a.white { 
   color: white;
}

a.white:hover { 
   color: white;
}

*:focus {
    outline: none !important;
    border: 0 !important;
}

.mat-elevation-z8 {
   position: relative;
   z-index: 5;
}

.footer {
	bottom: 0;
	width: 100%;
	position: fixed;
}

.fixed-header {
  top: 0;
  left: 0;
  position: fixed;
  z-index:999;
  width: 100%  !important;
}