// main.scss 
// @import "variables";
// @import "global";

.white-icon {
    color: white;
	padding-top: 6px;
}

.white-text {
    color: white;
}

a { 
   color: white;
}

a:hover { 
   color: white;
}