<div class="container"><br>
    <h1>About</h1>
	<hr>
	<div>
		<img class="img-responsive img-thumbnail"style="float:right" src="assets/img/thumbnails/me.jpg">
		<p>{{greeting}}! My name is Gershon Reydman and i'm a senior <a href="https://en.wikipedia.org/wiki/Computer_science">Computer Science</a> student at the <a href="http://umanitoba.ca/">University of Manitoba</a>.
			Currently looking for internship opportunities!</p>
	
		<p>My interests are in computer programming (both frontend and backend), computer graphics, electronics such as HAM radio and photography. I also enjoy spending my time outdoors biking, fishing and shooting.</p>
	</div>
	<h3>About this website</h3>
	<p>This website was created using the <a href="https://angular.io/">Angular5</a> framework developed by Google. It's being hosted on a <a href="https://www.digitalocean.com/">Digital Ocean</a> 1GB droplet,
	running <a href="https://www.debian.org/">Debian 8.8</a> and <a href="https://www.apache.org/">Apache</a>. For version control, I use <a href="https://git-scm.com/">Git</a> and this project is available on Github
	<a href="https://github.com/GershonR/Gersh.in-V2">here</a>.
	<p><a [routerLink]="['/copyright']">Licensing Information</a> for third party libraries.</p>
	<h3>Support me</h3>
	<p><a href="https://www.bitcoin.org">BTC</a>: <code>15MEuAvZCgvQPVRht3mnqZXn5WtZStYw9X</code><br>
	<a href="https://www.litecoin.org">LTC</a>: <code>LV3vxRpx9F2naAUGaYLX2noqhBMKycYWvz</code><br>
	<a href="https://www.ethereum.org/">ETH</a>: <code>0x87013471141530f04ec848d3d1db0b851e71073a</code><br>
	<a href="https://www.bitcoin.org">BCH</a>: <code>Bcash...</code><br>
</div>