<div (swiperight)="toggleSidenav()" (swipeleft)="closeSidenav()">

	<mat-sidenav-container class="sidenav-container" fullscreen>

		
		<!-- Toolbar -->
		<mat-toolbar color="primary" class="mat-elevation-z8 fixed-header">
		
		
			<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px" xShow="true" fxHide.lt-md="true">
				<div fxFlex="5">
		
				</div>
				<div fxFlex="2">
					<img src="assets/img/logo/logo.png">
				</div>
				<div fxFlex="10">
					<button mat-button [routerLink] ="['']"><mat-icon>home</mat-icon><span> Home</span></button>
					<button mat-button [routerLink] ="['/projects']"><mat-icon>folder</mat-icon><span> Projects</span></button>
					<button mat-button [routerLink] ="['/photos']"><mat-icon>photo</mat-icon><span> Photos</span></button>
					<button mat-button><mat-icon>chat</mat-icon><span> Blog</span></button>
					<button mat-button><mat-icon>https</mat-icon><span> Links</span></button>
					<button mat-button [routerLink] ="['/about']"><mat-icon>person</mat-icon><span> About</span></button>
				</div>
		
			</div>
		
			<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" fxFlex="50px" fxShow="true" fxHide.gt-sm="true" style="vertical-align: bottom">
			
				<button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
					
		
			</div>
			
			<div fxFlex="205px" fxFlex.lg="65" fxLayout="row" fxLayoutAlign="center start" fxShow="true" fxHide.gt-sm="true">
				
				<a [routerLink] ="['']" class="white">Gersh.in</a>
					
			</div>
			
		</mat-toolbar>
		
		<!-- Side Navigation For Mobile -->
		<mat-sidenav #sidenav fxLayout="column" style="min-width:120px;">
	
			<div fxLayout="column" fxLayoutAlign="start start">
		
					<button mat-button [routerLink] ="['']"><mat-icon>home</mat-icon><span> Home</span></button>
					<button mat-button [routerLink] ="['/projects']"><mat-icon>folder</mat-icon><span> Projects</span></button>
					<button mat-button [routerLink] ="['/photos']"><mat-icon>photo</mat-icon><span> Photos</span></button>
					<button mat-button><mat-icon>chat</mat-icon><span> Blog</span></button>
					<button mat-button><mat-icon>https</mat-icon><span> Links</span></button>
					<button mat-button [routerLink] ="['/about']"><mat-icon>person</mat-icon><span> About</span></button>
		
			</div>
	
		</mat-sidenav>
	
		<!-- Actual Page Content -->
		<div class="site" fxLayout="column">
			<div id="mainscroll" class="content Site-content" style="margin-top: 60px !important;" fxFlex="1">
			
				<router-outlet (activate)="closeSidenav()"></router-outlet>
		
			</div>
		
			<div class="mat-toolbar mat-primary" mat-subheader style="text-align: center; line-height:3"> <!-- TO DO - Replace With FooterComponent -->
				<small>Copyright © Gershon 2018. All rights reserved.</small>
			</div>
		</div>
	</mat-sidenav-container>
</div>
