<div (swiperight)="toggleSidenav()" (swipeleft)="closeSidenav()">

	<mat-sidenav-container class="sidenav-container" fullscreen>

		
		<!-- Toolbar [ngClass]="{'fixed-header': !isFixedHeader()}" -->
		<mat-toolbar color="primary" [ngClass]="{'fixed-header': !isFixedHeader()}" class="mat-elevation-z8 regular-header">
		
		
			<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" xShow="true" fxHide.lt-md="true">
					<a [routerLink] ="['']"><img src="assets/img/logo/logo.png"></a>
			</div>
			
			<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" xShow="true" fxHide.lt-md="true">
					<button mat-button *ngFor="let navItem of navItems"
							mat-list-item
							[routerLink]="[navItem.route]">
							<mat-icon>{{navItem.icon}}</mat-icon>
							<span> {{navItem.name}}</span>
					</button>
		
			</div>
		
			<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" fxFlex="50px" fxShow="true" fxHide.gt-sm="true" style="vertical-align: bottom">
			
				<button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
					
		
			</div>
			
			<div fxFlex="205px" fxFlex.lg="65" fxLayout="row" fxLayoutAlign="center start" fxShow="true" fxHide.gt-sm="true">
				
				<a [routerLink] ="['']" class="white">Gersh.in</a>
					
			</div>
			
		</mat-toolbar>
		
		<!-- Side Navigation For Mobile -->
		<mat-sidenav #sidenav fxLayout="column">
	
			    <mat-nav-list>
						<a *ngFor="let navItem of navItems"
							mat-list-item
							(click)="closeSidenav()"
							[routerLink]="[navItem.route]">
							<mat-icon mat-list-icon>{{navItem.icon}}</mat-icon>
							<span mat-line>{{navItem.name}}</span>
						</a>
			    </mat-nav-list>
				<div class="sidenav-footer"><small class="sidenav-footer-inner">Version: {{version}}</small></div>
		</mat-sidenav>
	
		<!-- Actual Page Content -->
		<div class="site" fxLayout="column">
			<div id="mainscroll" class="content Site-content" style="margin-top: 60px !important;" fxFlex="1">
			
				<router-outlet (activate)="closeSidenav()"></router-outlet>
		
			</div>
			<footer [ngClass]="{'footer': isFixedFooter()}">
				<div class="mat-toolbar mat-primary text-center" style="line-height:3"> <!-- TO DO - Replace With FooterComponent -->
					<small>Copyright © Gershon 2018. All rights reserved.</small>
				</div>
			</footer>
		</div>
	</mat-sidenav-container>
</div>
