<div class="container"><br>
    <h1>Copyright</h1>
	<hr>
	<p>The following libraries are being used on this website:</p>
	<h4><a href="https://material.io/icons/">Material Icons</a></h4>
	<p>An icon set that is being used under the<a href="https://github.com/google/material-design-icons/blob/master/LICENSE"> Apache 2.0 License</a>.
	<h4><a href="https://hammerjs.github.io/">HammerJS</a></h4>
	<p>Support for touch gestures that is being used under the<a href="https://github.com/hammerjs/hammer.js/blob/master/LICENSE.md"> MIT License</a>.
	<h4><a href="https://github.com/angular/flex-layout">Flex-Layout</a></h4>
	<p>An Angular layout API that provides support for responsive components used under the<a href="https://github.com/angular/flex-layout/blob/master/LICENSE"> MIT License</a>.
</div>