<div class="container"><br>
    <h1>Projects</h1>
	<hr>
	<div class="paragraphs">
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive img-thumbnail"style="float:left" src="assets/img/projects/landing/bowling.jpg">
			</div>
			<div class="col-md-6">
				<h3><a href="http://www.bowlingsim.com">Bowling Sim</a></h3>
				<p>BowlingSim is a WebGL game built with JavaScript using the <a href="https://threejs.org/">ThreeJS</a> library and <a href="http://chandlerprall.github.io/Physijs/">Physi.js</a> library. It features physics, lighting, bump-mapping, and reflections.</p>
				<p><a href="https://github.com/GershonR/Bowling-Simulation">Source here »</a></p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive img-thumbnail"style="float:left" src="assets/img/projects/landing/tablemania.jpg">
			</div>
			<div class="col-md-6">
				<h3><a href="https://gersh.in/HCI/">Tablemania</a></h3>
				<p>Tablemania is a website meant to augment players in playing boardgames. It features a fully working search, stats pages, game pages, and party codes. Tablemania was built using the <a href="http://durandaljs.com/">Durandel</a> framework.</p>
				<p><a href="https://github.com/GershonR/Tablemania">Source here »</a></p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive img-thumbnail"style="float:left" src="assets/img/projects/landing/buysellhouse.jpg">
			</div>
			<div class="col-md-6">
				<h3><a href="https://www.buy-sell-house.ca/">Buy-Sell-House</a></h3>
				<p>Buy-Sell-House is a <a href="https://wordpress.org/">Wordpress</a> based website created for a real estate team. It contains many features such as SSL, property search, property pages, Google maps integration, agent pages including being a fully responsive and mobile friendly website.</p>
				<p><a href="https://www.buy-sell-house.ca/">View here »</a></p>
			</div>
		</div>
		<hr>
		<br>
		<br>
		<br>
	</div>
</div>