<div class="mat-toolbar mat-primary" mat-subheader>

			<div fxLayout="row" fxLayoutAlign="start start" xShow="true" fxHide.lt-md="true">
				<div fxFlexOffset="5">
					<h1 style="line-height:3;">Home</h1>
				</div>
			</div>
				
</div>
<div class="jumbotron">
    <div class="container">
		<h1>Welcome!</h1><br>
		<h6>I am currently a Computer Science student at the University of Manitoba. This website is a place for me to share my projects, photos and posts.</h6>
	</div>
</div>

<div class="container">
</div>