<!-- <div class="mat-toolbar mat-primary" mat-subheader>

			<div fxLayout="row" fxLayoutAlign="start start" xShow="true" fxHide.lt-md="true">
				<div fxFlexOffset="5">
					<h1 style="line-height:3;">Home</h1>
				</div>
			</div>	
</div> -->
<div class="video-background d-none d-xl-block">
      <iframe *ngIf="muted" src="https://www.youtube.com/embed/DBd560d1DIM?controls=0&rel=0&autoplay=1&loop=1&mute=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	  <iframe *ngIf="!muted" src="https://www.youtube.com/embed/DBd560d1DIM?controls=0&rel=0&autoplay=1&loop=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
<div class="cover d-none d-xl-block">
	<header class="text">
		<h1><strong>GERSH.IN</strong></h1>
		<span class="major"></span><br>
	</header>
	<a [ngx-scroll-to-offset]="-100" [ngx-scroll-to]="'intro'" href="#"><mat-icon class="bounce arrow">keyboard_arrow_down</mat-icon></a>
	<button *ngIf="muted" mat-fab class="mute" (click)="toggleMute()">Unmute</button>
	<button *ngIf="!muted" mat-fab class="mute" (click)="toggleMute()">Mute</button>
</div>
<div class="jumbotron text-center">
	<section id="intro">
		<h1>Welcome!</h1><br>
		<h6><p>I'm <strong>Gershon Reydman</strong> a 4th year Computer Science student at the <a href="http://umanitoba.ca/">University of Manitoba</a>.</p>
		<p>This website is a place for me to share my projects, photos and posts.</p></h6>
	</section>
</div>
<div class="container text-center">
<h2>Development</h2><p></p>
	<div class="row">
		<div class="col-sm-3 ml-sm-auto">
			<h3 class="dev-header">Frontend</h3>
				<span class="badge badge-pill skill-badge">HTML5</span><br>
				<span class="badge badge-pill skill-badge">CSS3</span><br>
				<span class="badge badge-pill skill-badge">JavaScript</span><br>
				<span class="badge badge-pill skill-badge">JQuery</span><br>
				<span class="badge badge-pill skill-badge">AngularJS + Angular2</span><br>
				<span class="badge badge-pill skill-badge">Bootstrap</span><br>
				<span class="badge badge-pill skill-badge">ThreeJS</span><br>
		</div>
		<p></p>
		<div class="col-sm-3 mr-sm-auto">
			<h3 class="dev-header">Backend</h3>
				<span class="badge badge-pill skill-badge">Java + JSF</span><br>
				<span class="badge badge-pill skill-badge">Ruby</span><br>
				<span class="badge badge-pill skill-badge">Python</span><br>
				<span class="badge badge-pill skill-badge">C++</span><br>
				<span class="badge badge-pill skill-badge">C</span><br>
				<span class="badge badge-pill skill-badge">SQL</span><br>
		</div>
	</div>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<!--
<div class="text-center">
<h1>Projects</h1>
<mat-grid-list cols="3" rowHeight="1:1">
	<mat-grid-tile>
		<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Projects</mat-card-title>
		</mat-card-header>
		<img mat-card-image src="/assets/img/projects/landing/bowling.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				Placeholder text			
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>VIEW</button><p></p>
		</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Projects</mat-card-title>
		</mat-card-header>
		<img mat-card-image src="/assets/img/thumbnails/2.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				Placeholder text			
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>VIEW</button><p></p>
		</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-card class="example-card">
		<mat-card-header>
			<mat-card-title>Projects</mat-card-title>
		</mat-card-header>
		<img mat-card-image src="/assets/img/projects/landing/bowling.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content>
			<p>
				Placeholder text			
			</p>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>VIEW</button><p></p>
		</mat-card-actions>
		</mat-card>
	</mat-grid-tile>
</mat-grid-list>
</div> -->