<!-- <div class="mat-toolbar mat-primary" mat-subheader>

			<div fxLayout="row" fxLayoutAlign="start start" xShow="true" fxHide.lt-md="true">
				<div fxFlexOffset="5">
					<h1 style="line-height:3;">Home</h1>
				</div>
			</div>	
</div> -->
<div class="video-background d-none d-lg-block">
      <iframe src="https://www.youtube.com/embed/rj81emE48wI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1" frameborder="0" allowfullscreen></iframe>
  </div>
<div class="cover d-none d-lg-block">
	<header class="text">
		<h1>GERSH.IN</h1>
		<span class="major"></span>
	</header>
	<a [ngx-scroll-to-offset]="-100" [ngx-scroll-to]="'intro'" href="#"><mat-icon class="bounce arrow">keyboard_arrow_down</mat-icon></a>
</div>
<div class="jumbotron text-center">
	<section id="intro">
		<h1>Welcome!</h1><br>
		<h6>I am currently a Computer Science student at the University of Manitoba. This website is a place for me to share my projects, photos and posts.</h6>
	</section>
</div>