* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 5;
  padding-top: 10px;
  padding-bottom: 55.25%;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0.75;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.075em;
  font-weight: 900;
  color: #fff;
  line-height: 26px;
  text-align: center;
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.mute {
  position: absolute;
  top: 90%;
  left: 95%;
  z-index: 15;
  pointer-events: all; 
}

.major {
    background: #dddddd;
    content: '';
    display: block;
    height: 2px;
    margin: 0.25em auto 0 auto;
    width: 4em;
	font-size: 5em;
}

.arrow {
  position: absolute;
  bottom: 0;
  top: 90%;
  left: 47%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 80px; 
  color: white;
  right: 0; 
  bottom: 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}